# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# env
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# ide
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db
desktop.ini

# logs
*.log
npm-debug.log*


# cache local de icones poe2db
.cache/
